<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Ravit Garg | Gallery </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Ravit, Ravit Garg" />
    
    <!-- Custom Theme files -->
    <link href="static/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="static/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- nav -->
    <link href="static/css/menufullpage.css" rel="stylesheet">
    <!-- gallery css -->
    <link href="static/css/prettyPhoto.css" rel="stylesheet" type="text/css" />
    <!-- font-awesome icons -->
    <link href="static/css/fontawesome-all.min.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Fira+Sans+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- //online-fonts -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo2.png') }}">
</head>

<body>
    <!-- inner banner -->
    <div class="inner-banner-agile banner-port">
        <!-- header -->
        <header>
            <!--nav -->
            <a href="#menu" class="menu-link">
                <span>toggle menu</span>
            </a>
            <nav id="menu" class="panel">
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="about.html">About Me</a>
                    </li>
                    <li>
                        <a href="services.html" >Services</a>
                    </li>
                    <li>
                        <a href="gallery.html" class="active">Gallery</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact Me</a>
                    </li>
                </ul>
            </nav>
            <!-- //nav -->
            <!-- logo -->
            <div class="logo_wthree">
                <a href="index.html">
                    <img src="static/images/logo3.png" >
                </a>
            </div>
            <!-- //logo -->
        </header>
        <!-- //header -->
    </div>
    <!-- //inner banner -->
    <!-- gallery -->
    <section class="gallery pb-5">
        <div class="container">
            <div class="wthree-inner-sec port-bg">
                <div class="sec-head">
                    <h1 class="sec-title-w3 text-capitalize">gallery</h1>
                    <span class="block"></span>
                </div>
                <!-- portfolio-area -->
                <div class="wthree-row py-3">
                    <ul class="portfolio-area clearfix">
                        <li class="portfolio-item2" data-id="id-0" data-type="cat-item-4">
                            <span class="image-block img-hover">
                                <a class="image-zoom" href="static/images/g1.jpg" data-gal="prettyPhoto[gallery]">
                                    <img src="static/images/g1.jpg" class="img-fluid w3layouts agileits" alt="Communal">
                                </a>
                            </span>
                        </li>
                        <li class="portfolio-item2" data-id="id-1" data-type="cat-item-2">
                            <span class="image-block">
                                <a class="image-zoom" href="static/images/g2.jpg" data-gal="prettyPhoto[gallery]">
                                    <img src="static/images/g2.jpg" class="img-fluid w3layouts agileits" alt="Communal">
                                </a>
                            </span>
                        </li>
                        <li class="portfolio-item2" data-id="id-2" data-type="cat-item-1">
                            <span class="image-block">
                                <a class="image-zoom" href="static/images/g3.jpg" data-gal="prettyPhoto[gallery]">
                                    <img src="static/images/g3.jpg" class="img-fluid w3layouts agileits" alt="Communal">
                                </a>
                            </span>
                        </li>
                        <li class="portfolio-item2" data-id="id-3" data-type="cat-item-4">
                            <span class="image-block">
                                <a class="image-zoom" href="static/images/g4.jpg" data-gal="prettyPhoto[gallery]">
                                    <img src="static/images/g4.jpg" class="img-fluid w3layouts agileits" alt="Communal">
                                </a>
                            </span>
                        </li>
                        <li class="portfolio-item2" data-id="id-4" data-type="cat-item-3">
                            <span class="image-block">
                                <a class="image-zoom" href="static/images/g7.jpg" data-gal="prettyPhoto[gallery]">
                                    <img src="static/images/g7.jpg" class="img-fluid w3layouts agileits" alt="Communal">
                                </a>
                            </span>
                        </li>
                        <li class="portfolio-item2" data-id="id-5" data-type="cat-item-2">
                            <span class="image-block">
                                <a class="image-zoom" href="static/images/g5.jpg" data-gal="prettyPhoto[gallery]">
                                    <img src="static/images/g5.jpg" class="img-fluid w3layouts agileits" alt="Communal">
                                </a>
                            </span>
                        </li>
                        <li class="portfolio-item2" data-id="id-6" data-type="cat-item-1">
                            <span class="image-block">
                                <a class="image-zoom" href="static/images/g8.jpg" data-gal="prettyPhoto[gallery]">
                                    <img src="static/images/g8.jpg" class="img-fluid w3layouts agileits" alt="Communal">
                                </a>
                            </span>
                        </li>
                        <li class="portfolio-item2" data-id="id-7" data-type="cat-item-5">
                            <span class="image-block">
                                <a class="image-zoom" href="static/images/g6.jpg" data-gal="prettyPhoto[gallery]">
                                    <img src="static/images/g6.jpg" class="img-fluid w3layouts agileits" alt="Communal">
                                </a>
                            </span>
                        </li>
                        <li class="portfolio-item2" data-id="id-7" data-type="cat-item-5">
                            <span class="image-block">
                                <a class="image-zoom" href="static/images/g9.jpg" data-gal="prettyPhoto[gallery]">
                                    <img src="static/images/g9.jpg" class="img-fluid w3layouts agileits" alt="Communal">
                                </a>
                            </span>
                        </li>
                        <li class="portfolio-item2" data-id="id-7" data-type="cat-item-5">
                            <span class="image-block">
                                <a class="image-zoom" href="static/images/g10.jpg" data-gal="prettyPhoto[gallery]">
                                    <img src="static/images/g10.jpg" class="img-fluid w3layouts agileits" alt="Communal">
                                </a>
                            </span>
                        </li>
                        <li class="portfolio-item2" data-id="id-7" data-type="cat-item-5">
                            <span class="image-block">
                                <a class="image-zoom" href="static/images/g11.jpg" data-gal="prettyPhoto[gallery]">
                                    <img src="static/images/g11.jpg" class="img-fluid w3layouts agileits" alt="Communal">
                                </a>
                            </span>
                        </li>
                        <li class="portfolio-item2" data-id="id-7" data-type="cat-item-5">
                            <span class="image-block">
                                <a class="image-zoom" href="static/images/g12.jpg" data-gal="prettyPhoto[gallery]">
                                    <img src="static/images/g12.jpg" class="img-fluid w3layouts agileits" alt="Communal">
                                </a>
                            </span>
                        </li>
                        <li class="portfolio-item2" data-id="id-7" data-type="cat-item-5">
                            <span class="image-block">
                                <a class="image-zoom" href="static/images/g13.jpg" data-gal="prettyPhoto[gallery]">
                                    <img src="static/images/g13.jpg" class="img-fluid w3layouts agileits" alt="Communal">
                                </a>
                            </span>
                        </li>
                        <li class="portfolio-item2" data-id="id-7" data-type="cat-item-5">
                            <span class="image-block">
                                <a class="image-zoom" href="static/images/g14.jpg" data-gal="prettyPhoto[gallery]">
                                    <img src="static/images/g14.jpg" class="img-fluid w3layouts agileits" alt="Communal">
                                </a>
                            </span>
                        </li>
                        <li class="portfolio-item2" data-id="id-7" data-type="cat-item-5">
                            <span class="image-block">
                                <a class="image-zoom" href="static/images/g15.jpg" data-gal="prettyPhoto[gallery]">
                                    <img src="static/images/g15.jpg" class="img-fluid w3layouts agileits" alt="Communal">
                                </a>
                            </span>
                        </li>
                        <li class="portfolio-item2" data-id="id-7" data-type="cat-item-5">
                            <span class="image-block">
                                <a class="image-zoom" href="static/images/g16.jpg" data-gal="prettyPhoto[gallery]">
                                    <img src="static/images/g16.jpg" class="img-fluid w3layouts agileits" alt="Communal">
                                </a>
                            </span>
                        </li>
                    </ul>
                    <!--end portfolio-area -->
                </div>
            </div>
        </div>
    </section>
    <!-- //gallery -->
    <!-- footer -->
    <footer>
        <div class="cpy-right text-center py-4">
            <p class="text-white">© 2020. All rights reserved | Created by
                <a href="https://ravit.pythonanywhere.com"> Ravit Garg.</a>
            </p>
        </div>
    </footer>
    <!-- //footer -->
    <!-- js -->
    <script src="static/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!-- few java snippets-->
    <script src="static/js/strive.js"></script>
    <!-- //few java snippets-->
    <!-- nav -->
    <script src="static/js/menuFullpage.min.js"></script>
    <!-- //nav -->
    <!-- smooth scroll -->
    <script src="static/js/SmoothScroll.min.js "></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.js"></script>
    <!-- jQuery-Photo-filter-lightbox-Gallery-plugin -->
    <script src="static/js/jquery-1.7.2.js"></script>
    <script src="static/js/jquery.quicksand.js"></script>
    <script src="static/js/script.js"></script>
    <script src="static/js/jquery.prettyPhoto.js"></script>
    <!-- //jQuery-Photo-filter-lightbox-Gallery-plugin -->

</body>

</html>