<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Ravit Garg | Services </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Ravit, Ravit Garg" />
    
    <!-- Custom Theme files -->
    <link href="static/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="static/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- nav -->
    <link href="static/css/menufullpage.css" rel="stylesheet">
    <!-- font-awesome icons -->
    <link href="static/css/fontawesome-all.min.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Fira+Sans+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- //online-fonts -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo2.png') }}">
</head>

<body>
    <!-- inner banner -->
    <div class="inner-banner-agile services">
        <!-- header -->
        <header>
            <!--nav -->
            <a href="#menu" class="menu-link">
                <span>toggle menu</span>
            </a>
            <nav id="menu" class="panel">
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="about.html" >About Me</a>
                    </li>
                    <li>
                        <a href="services.html" class="active">Services</a>
                    </li>
                    <li>
                        <a href="gallery.html">Gallery</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact Me</a>
                    </li>
                </ul>
            </nav>
            <!-- //nav -->
            <!-- logo -->
            <div class="logo_wthree">
                <a href="index.html">
                    <img src="static/images/logo2.png" >
                </a>
            </div>
            <!-- //logo -->
        </header>
        <!-- //header -->
    </div>
    <!-- inner banner -->
    <!-- services -->
    <section class="pb-5">
        <div class="container">
            <div class="wthree-inner-sec services-bg">
                <div class="sec-head">
                    <h1 class="sec-title-w3 text-capitalize text-white">services</h1>
                    <span class="block"></span>
                </div>
                <section class="slide-wrapper">
                    <div class="services pt-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4 my-auto">
                                    <img src="static/images/screen1.jpg" alt="" class="img-fluid" />
                                </div>
                                <div class="col-lg-4">
                                    <div class="d-flex services-box">
                                        <span class="icon">
                                            <i class="fas fa-pencil-alt"></i>
                                        </span>
                                        <!-- .Icon ends here -->
                                        <div class="service-content">
                                            <h2>Clean Design</h2>
                                            <p>                                              
                                            </p>
                                        </div>
                                        <!-- .Service-content ends here -->
                                    </div>
                                    <!-- .Services-box ends here -->

                                    <div class="d-flex services-box">
                                        <span class="icon">
                                            <i class="fas fa-rocket"></i>
                                        </span>
                                        <!-- .Icon ends here -->
                                        <div class="service-content">
                                            <h4>Easy Parallax</h4>
                                            <p>
                                            </p>
                                        </div>
                                        <!-- .Service-content ends here -->
                                    </div>
                                    <!-- .Services-box ends here -->
                                    <div class="d-flex services-box">
                                        <span class="icon">
                                            <i class="fa fa-laptop"></i>
                                        </span>
                                        <!-- .Icon ends here -->
                                        <div class="service-content">
                                            <h4>Responsive Layout</h4>
                                            <p>
                                            </p>
                                        </div>
                                        <!-- .Service-content ends here -->
                                    </div>
                                    <!-- .Services-box ends here -->

                                </div>
                                <!-- .Col ends here -->
                                <div class="col-lg-4">
                                    <div class="d-flex services-box">
                                        <span class="icon">
                                            <i class="fa fa-laptop"></i>
                                        </span>
                                        <!-- .Icon ends here -->
                                        <div class="service-content">
                                            <h4>Responsive Layout</h4>
                                            <p>
                                            </p>
                                        </div>
                                        <!-- .Service-content ends here -->
                                    </div>
                                    <!-- .Services-box ends here -->

                                    <div class="d-flex services-box">
                                        <span class="icon">
                                            <i class="fas fa-paint-brush"></i>
                                        </span>
                                        <!-- .Icon ends here -->
                                        <div class="service-content">
                                            <h4>Advanced Features</h4>
                                            <p>
                                            </p>
                                        </div>
                                        <!-- .Service-content ends here -->
                                    </div>
                                    <!-- .Services-box ends here -->
                                    <div class="d-flex services-box">
                                        <span class="icon">
                                            <i class="fas fa-code"></i>
                                        </span>
                                        <!-- .Icon ends here -->
                                        <div class="service-content">
                                            <h4>Clean Design</h4>
                                            <p>
                                            </p>
                                        </div>
                                        <!-- .Service-content ends here -->
                                    </div>
                                    <!-- .Services-box ends here -->
                                </div>
                                <!-- .Col ends here -->
                            </div>
                            <!-- .Row ends here -->
                        </div>
                        <!-- .Container ends here -->
                    </div>
                    <!-- .Services ends here -->
                </section>
            </div>
        </div>
    </section>
    <!-- //services -->
    <!-- footer -->
    <footer>
        <div class="cpy-right text-center py-4">
            <p class="text-white">© 2020. All rights reserved | Created by
                <a href="https://ravit.pythonanywhere.com"> Ravit Garg.</a>
            </p>
        </div>
    </footer>
    <!-- //footer -->
    <!-- js -->
    <script src="static/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!-- few java snippets-->
    <script src="static/js/strive.js"></script>
    <!-- //few java snippets-->
    <!-- nav -->
    <script src="static/js/menuFullpage.min.js"></script>
    <!-- //nav -->
    <!-- smooth scroll -->
    <script src="static/js/SmoothScroll.min.js "></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.js"></script>

</body>

</html>